.accreditations {
    &__flow {
        width: min(1100px,90vw);
        margin-inline: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        img {
            max-width: 130px;
            height: auto;
            max-height: 85px;
        }
    }
    &__caption {
        text-align: center;
    }
}