.icon_nav {
    a {
        text-align: center;
        img {
            margin-bottom: 0.5rem;
        }
        .h5 {
            background-image: linear-gradient(var(--col-red), var(--col-red)), linear-gradient(transparent, transparent);
            background-size: 0 5px, auto;
            background-repeat: no-repeat;
            background-position: center bottom;
            transition: all var(--transition);
            width: max-content;
        }
        &:hover {
            img {
                transform: rotate(360deg);
            }
            .h5 {
                background-size: 100% 5px, auto;
            }
        }
    }
}