.icon_nav {
    a {
        text-align: center;
        img {
            margin-bottom: 0.5rem;
        }
        &:hover {
            img {
                transform: rotate(360deg);
            }
        }
    }
}