.team {
    &__grid {
        display: grid;
        // @media (min-width:1400px) {
        //     // grid-template-columns: repeat(2, 1fr);
        //     grid-template-columns: repeat(3, 1fr);
        // }
        gap: 1rem;
    }
    &__card {
        display: grid;
        gap: 1rem;
        @media (min-width:576px) {
            grid-template-columns: 200px auto;
            // grid-template-rows: auto 1fr;
        }
    }
    &__image {
        max-width: 200px;
        aspect-ratio: 3 / 4;
        object-fit: cover;
        object-position: center;
        margin-inline: auto;
    }
    &__info {
        display: grid;
        grid-template-areas: 
            "name linkedin"
            "role linkedin"
        ;
        grid-template-columns: auto 50px;
        column-gap: 0.5rem;
        margin-bottom: 0.5rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--col-red);
    }
    &__name {
        grid-area: name;
        font-size: var(--fs-450);
        font-weight: var(--fw-900);
    }
    &__role {
        grid-area: role;
        font-style: italic;
        font-size: var(--fs-200);
    }
    &__linkedin {
        grid-area: linkedin;
        align-self: center;
        justify-self: center;
        font-size: var(--fs-450);
    }
    &__bio {
        font-size: var(--fs-200);
    }
}