.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    border-radius: 0;
    min-width: 300px;
}
.btn-outline {
    border: 2px solid var(--col-blue);
    transition: background-color var(--transition);
    color: var(--col-light);
    &:hover {
        background-color: var(--col-blue);
        color: var(--col-light);
    }
}
.btn-outline--dark {
    border: 2px solid var(--col-dark);
    transition: background-color var(--transition);
    color: var(--col-dark);
    &:hover {
        background-color: var(--col-dark);
        color: var(--col-light);
    }
}
.btn-dark {
    background-color: var(--col-dark);
    color: var(--col-light);
    border: 2px solid var(--col-dark);
    transition: background-color var(--transition), color var(--transition);
    &:hover {
        background-color: var(--col-light);
        color: var(--col-dark);
    }
}

.btn-blue {
    background-color: var(--col-blue);
    color: var(--col-light);
    border: 2px solid var(--col-blue);
    transition: background-color var(--transition), color var(--transition);
    &:hover {
        background-color: var(--col-light);
        color: var(--col-blue);
    }
}

.btn-red {
    background-color: var(--col-red);
    color: var(--col-light);
    border: 2px solid var(--col-red);
    transition: background-color var(--transition), color var(--transition);
    &:hover {
        background-color: var(--col-light);
        color: var(--col-red);
    }
}


#navbarr a.btn-nav-cta {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: var(--fw-900);
    font-size: 1rem;
    letter-spacing: 0.05rem;
    border-radius: 0;
    // min-width: 300px;
    background-color: var(--col-red);
    background-image: none;
    color: var(--col-light);
    border: 2px solid var(--col-red);
    transition: background-color var(--transition), color var(--transition);
    &:hover {
        background-color: var(--col-light);
        color: var(--col-red);
    }
}