#wrapper-navbar {
    // padding-right: 0px !important;
    .navbar {
        background-color: var(--col-light);
        // box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
        a {
            color: var(--col-dark);
        }
    }

    .navbar-grid {
        display: grid;
        column-gap: 1rem;
        grid-template-columns: minmax(100px,300px) 1fr;
        @media (min-width:768px) {
            grid-template-columns: 1fr 2fr;
        }
    }

    .nav-item {
        &.current-menu-parent > a {
            color: var(--col-red);
        }
        &.current-menu-item,
        &.current_page_item  {
            a {
                color: var(--col-red);
            }
        }
    }
    .navbar-collapse a {
        color: var(--col-dark);
        text-decoration: none;
        font-size: 1rem;
        font-weight: var(--fw-900);
        background-image: linear-gradient(var(--col-red), var(--col-red)), linear-gradient(transparent, transparent);
        background-size: 0 5px, auto;
        background-repeat: no-repeat;
        background-position: center bottom;
        transition: all var(--transition);
        width: max-content;

        &:hover {
            color: var(--col-red);
            background-size: 100% 5px, auto;
        }
    }

    .current-menu-item a,
    .current-page-ancestor a {
        color: var(--col-red);
        background-size: 100% 5px, auto;
    }

    .dropdown-menu {
        a {
            color: var(--col-dark);
            &:active {
                color: var(--col-red);
            }
        }
    }

    .sidenav-container .navbar-toggler {
        display: block;
        &:focus {
            // box-shadow: none !important;
            box-shadow: 0 0 0 0.25rem rgba(54,54,53,.25);
        }
    }

    #topNav {
        ul {
            column-gap: 1rem;
        }
        a {
            font-size: var(--fs-300);
            font-weight: var(--fw-400);
            background: none;
        }
    }

    .logo--icon {
        img {
            max-height: 50px;
        }
    }

    .logo {
        max-width: 300px;
    }
}
