// $col-primary: hsl(345, 6%, 13%);
$col-primary: hsl(60 1% 21%);
$col-highlight: hsl(350, 83%, 42%);
$col-grey: hsl(240, 4%, 91%);

:root {

    // --hsl-col-dark: 345 6% 13%;
    // --hsl-col-dark: 60 1% 21%;
    --hsl-col-dark: 345 6% 13%;
    --hsl-col-light: 0 0% 100%;
    --hsl-col-grey: 240 4% 91%;
    --hsl-col-blue: 198 99% 42%;
    --hsl-col-red: 350 83% 42%;
    --hsl-col-red-200: 350 83% 62%;

    --col-dark: hsl(var(--hsl-col-dark));
    --col-light: hsl(var(--hsl-col-light));
    --col-grey: hsl(var(--hsl-col-grey));
    --col-blue: hsl(var(--hsl-col-blue));
    --col-red: hsl(var(--hsl-col-red));
    --col-red-200: hsl(var(--hsl-col-red-200));
    --col-green-200: hsl( var(--hsl-green-200) );
    --col-green-300: hsl( var(--hsl-green-300) );
    --col-green-400: hsl( var(--hsl-green-400) );
    --col-green-900: hsl( var(--hsl-green-900) );

    --h-top: 64px;
    --h-top-desktop: 90px;

    --fw-400: 300;
    --fw-900: 700;


    --fs-100: clamp(0.72rem, calc(0.80rem + -0.11vw), 0.78rem);
    --fs-200: clamp(0.90rem, calc(0.95rem + -0.07vw), 0.94rem);
    --fs-400: clamp(1.13rem, calc(1.13rem + 0.00vw), 1.13rem);
    --fs-450: clamp(1.35rem, calc(1.33rem + 0.10vw), 1.41rem);
    --fs-500: clamp(1.62rem, calc(1.57rem + 0.24vw), 1.76rem);
    --fs-600: clamp(1.94rem, calc(1.86rem + 0.44vw), 2.20rem);
    --fs-700: clamp(2.33rem, calc(2.19rem + 0.72vw), 2.75rem);
    --fs-800: clamp(2.80rem, calc(2.58rem + 1.10vw), 3.43rem);
    --fs-900: clamp(3.36rem, calc(3.04rem + 1.62vw), 4.29rem);


    --transition: 300ms ease-out;

    --border1: 0.5rem;
    --border2: 1rem;
}