/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v20-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/poppins-v20-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

:root {
    font-variant-ligatures: none;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Poppins', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: var(--fw-400);
    font-size: 1rem;
    // font-size: clamp(1.00rem, calc(0.91rem + 0.43vw), 1.25rem);
    line-height: 1.556;
    font-style: normal;
    color: var(--col-dark);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    margin-bottom: 0.5rem;
    font-weight: var(--fw-900);
    text-wrap: balance;
}

.has-dark-background-color {
    h1, .h1, h2, .h2, h3, .h3, h4, .h4, .h99 {
        color: var(--col-light);
    }
}

h1, .h1 {
    font-size: var(--fs-700);
}
h2, .h2 {
    font-size: var(--fs-600);
}
h3, .h3, .has-large-font-size {
    font-size: var(--fs-500);
}
h4, .h4 {
    font-size: var(--fs-450);
}
h5, .h5, .has-medium-font-size {
    font-size: var(--fs-450);
}


strong, b {
    font-weight: var(--fw-900);
}

.w-constrained {
    max-width: 90ch;
    margin-inline: auto
}

.constrain-right {
    @media (min-width:992px) {
        max-width: min(600px,90vw);
        margin-right: auto;
    }
}
.constrain-left {
    @media (min-width:992px) {
        max-width: min(600px,90vw);
        margin-left: auto;
    }
}

.balanced {
    display: block;
    text-wrap: balance;
}

.wrap {
    text-wrap: wrap;
}